@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');.navbar {
    background-color: white;
    height: auto;
}

.wrapper {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    margin-left: 20px;
    flex: 1;
    display: flex;
    align-items: center;
}

.searchContainer {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
}

.inputSearch {
    width: 50%;
    border: none;
}

.center {
    flex: 1;
    text-align: center;
}

.logo {
    outline: none;
    text-decoration: none;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

.menuItemLink{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    outline: none;
    color: black;
}

.rigth {
    margin-right: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menuItem {
    width: 150px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.menuItemIcon {
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.menuItemIcon:hover {
    transform: scale(1.1);
}

.menuItem:hover {
    transform: scale(1.1);
}

