.navbar {
    background-color: white;
    height: auto;
}

.wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.searchContainer {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    padding: 5px;
}

.inputSearch {
    border: none;
}

.center {
    flex: 1;
    text-align: center;
}

.logo {
    font-weight: bold;
    cursor: pointer;
}

.rigth {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menuItem {
    margin-left: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.menuItem:hover {
    transform: scale(1.1);
}